.glass-effect {
  background: rgba(0, 0, 0, 0.2);
  background: repeating-radial-gradient(
    circle at 50% 50%,
    rgb(255 255 255 / 0),
    rgba(255, 255, 255, 0.2) 10px,
    rgb(255 255 255) 31px
  );
  filter: url(#fractal-noise-glass);
  background-size: 6px 6px;
  backdrop-filter: blur(0px);
}
